/* style.css for the profile page */
/* written by/for Letty Bedard */

body{
  font-family: 'Arial', 'Helvetica Nue', Helvetica, sans-serif;
}

header.headStyle{
  width: 960px;
  margin: 0 auto;
}

nav.navBar{
  overflow: auto;
}
h1.navLogo{
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  float: left;
  margin: 0;
  padding:  8px;
  background-color: #4aaaa5;
  color: #ffffff;
}

ul.navList{
  list-style-type: none;
  margin: 0;
  margin-top: 12.5px;
  padding: 0;
  overflow: hidden;
}

li.navItem{
  float: right;
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #cccccc;
}

a.navItem{
  color: #777777; 
  text-decoration: none;
}

li.navItem:first-child{
  border-right: none;
  padding-right: 0;
}
hr.horizontalLine {
  background-color: #cccccc;
  height: 1px;
  border: none;
  padding: 0;
  margin: 0;
}

div.mainPanel{
  background-image: url("../images/cork-board.png");
  display: flex;
  justify-content: center;
  border-top: .5px solid #cccccc;
  border-bottom: 3px solid #4aaaa5;
}

div.aboutMe{
  justify-content: center;
  width: 960px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-top: 30px;
  margin-bottom: 60px;
}

h2.sectionContent{
  font-family:'Georgia', 'Times New Roman', Times, serif;
  color: #4aaaa5;
  margin: 20px;
}

hr.dividerLine{
  background-color: #cccccc;
  /* width: 920px; */
  height: 1px;
  border: none;
  padding: 0;
  margin: 0px 20px; 
}

div.contentBox{
  margin: 20px;
}

img.headShot{
  float: left;
  height: 200px;
  width: 200px;
  margin: 0px;
  margin-right: 10px;
}

div.copyContent{
  font-family: 'Arial', 'Helvetica Nue', Helvetica, sans-serif;
}

     
